*{
    background-color: blanchedalmond;
    font-size: 1.1rem;
}

#description{
    
    color: rgb(112, 26, 26);
}

#ingredient{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: rgb(13, 13, 12);
}

#steep{
   justify-content: start;
   align-items: start;

}

.elements-of-recipes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} 

#ingrediant>h2{
color: aqua;
}



