*{
    background-color: rgb(193, 148, 206);
    font-size: 1.1rem;
}

#description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(55, 2, 67);
}

#ingredient{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: rgb(86, 22, 81);
}

#steep{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ingrediant>h2{
color: aqua;
}