*{
    background-color: rgb(108, 184, 251);
    font-size: 1.1rem;
}

#description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(48, 48, 209);
}

#ingredient{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: rgb(8, 2, 94);
}

#steep{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ingrediant>h2{
color: aqua;
}